.btn-servidor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 30;
    font-size: 0.50rem;
    padding: 4px 12px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.btn-servidor:hover {
    background-color: #003087;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,48,135,0.4);
}

.btn-servidor svg {
    width: 22px;
    height: 22px;
}